@using B2BTecnology.Financeiro.DTO
@model ContratoDTO

@{
    ViewBag.Title = "Contrato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section BeginBody
{
    <form id="clienteForm" role="form" action="/Contrato/Salvar/" method="post">
}

@Html.Hidden("ContatoId", Model.IdContrato)

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Clientes
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="/Home">Horus</a>
            </li>
            <li class="active">
                <i class="fa fa-dashboard fa-fw"></i> Cliente
            </li>
        </ol>
    </div>
</div>

@*@Html.Partial("Error")*@
@Html.Partial("ErrorMessage")
@Html.Partial("Success")

@Html.Partial("Partials/_Cliente", Model.Cliente)
@Html.Partial("Partials/_InformacoesContratuais", Model)


@section actions{
    <div class="actions">
        <input type="submit" id="Salvar" value="Salvar" class="btn btn-default" />
    </div>
}

@section EndBody
{
    </form>
}

@section scripts{

    <script>

        $(function () {

            $("#pesquisarCliente").click(function () {

                geral.Redirect("/Contrato/Detalhe/" + $("#Documento").unmask().val());

            });

            $("#pesquisarClienteNome").click(function () {

                $.getJSON("/Contrato/PesquisarClientesPorNome", { nome: $("#Nome").val() }, function (data) {

                    $("#nomesClientes").empty();
                    $("#nomesClientes").append("<option value=''>Selecione</option>");
                    
                    $(data).each(function () {

                        var documento = $(this).prop("IdCliente");
                        var nome = $(this).prop("Nome");

                        $("#nomesClientes").append("<option value='" + documento + "'>" + nome + "</option>");

                    });


                });

            });

            $("#nomesClientes").change(function () {

                $.ajax({
                    url: "/Contrato/GetCliente?idCliente=" + $(this).val(),
                    type: "GET"
                }).done(function (data) {

                    $("#divCliente").html(data);

                });

            });

            $("input[name='prazocontratual']").change(function () {

                $("#prazoContratual").val($(this).val());

            });

            $("input[name='pessoa']").change(function () {

                $("#TipoPessoa").val($(this).val());

            });

            $("input[name='plano']").change(function () {

                $("#PlanoId").val($(this).val());

            });
            
            $("input[assinatura]").keyup(function() {

                $("input[name='ContratoAssinaturas." + $(this).prop("id") + "']").val($(this).val().replace(',', '.'));

             });

            $("#btnAssinatura").click(function() {

                $.ajax({
                    url: "/Contrato/AdicionarAssinatura",
                    data: $("#tblListaAssinaturas :input").serialize() + "&" + $("#divParametersAssinatura :input").serialize(),
                    type: "GET"
                }).done(function(data) {

                    $("#divContratoAssinaturas").html(data);
                    ExcluirAssinatura();
                    ZerarAssinatura();

                });

            });

            ExcluirAssinatura();
            ExcluirContato();

            $("#btnContato").click(function () {

                if ($("#idTipoContato :selected").val() == "0" ||
                    $("#NomeContato").val() == "" ||
                    $("#Email").val() == "") return;

                $.ajax({
                    url: "/Contrato/AdicionarContato/",
                    data: $("form").serialize() + "&" + $("#tabContato :input, #tabContato select selected").serialize(),
                    type: "GET"
                }).done(function (data) {

                    $("#divListaContato").html(data);
                    ExcluirContato();

                });

            });



        });

        function ExcluirContato() {
            
            $("#tblListaContatos tbody tr td button").each(function () {

                $(this).click(function () {
                    
                    $.ajax({
                        url: "/Contrato/ExcluirContato/",
                        data: $("form").serialize() + "&index=" + $(this).attr("data-index"),
                        type: "GET"
                    }).done(function (data) {

                        $("#divListaContato").html(data);
                        ExcluirContato();

                    });

                });

            });
        }

        function ExcluirAssinatura() {
            $("#tblListaAssinaturas tbody tr td button").click(function () {

                $.ajax({
                    url: "/Contrato/ExcluirAssinatura",
                    data: $("#tblListaAssinaturas :input").serialize() + "&index=" + $(this).attr("data-index"),
                    type: "GET"
                }).done(function (data) {

                    $("#divContratoAssinaturas").html(data);
                    ExcluirAssinatura();
                    ZerarAssinatura();
                });

            });
        }

        function ZerarAssinatura() {
            
            $("#txtDid").val("");
            $("input[name='ContratoAssinaturas.AssinaturaDid']").val("");
            $("#AssinaturaDid").val("");
            $("#Valor0800").val("");
            $("input[name='ContratoAssinaturas.Assinatura0800']").val("");
            $("#Assinatura0800").val("");
            $("#Valor0300").val("");
            $("input[name='ContratoAssinaturas.Assinatura0300']").val("");
            $("#Assinatura0300").val("");
            $("#Valor4000").val("");
            $("input[name='ContratoAssinaturas.Assinatura4000']").val("");
            $("#Assinatura4000").val("");
        }

    </script>

}
