@model IEnumerable<B2BTecnology.Financeiro.DTO.PagamentoDTO>
@*@model B2BTecnology.Financeiro.Web.Models.PagametoViewModel*@

<div class="row">
    <div class="col-lg-12 ">
        <div class="form-group col-md-12">
            <div class="table-responsive">
                <table id="tabelaPagamentos" class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th style="width: 12%">Código Contrato</th>
                            <th style="width: 30%">Nome</th>
                            <th style="width: 16%">Data Pagamento</th>
                            <th style="width: 16%">Valor Pago</th>
                            <th style="width: 10%">Pago</th>
                            <th style="width: 10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            var pagamento = Model.ToList()[i];
                            <tr id="@(string.Format("row-{0}", i))">
                                <td>
                                    <input type="hidden" value="@pagamento.IdPagamento" name="@("Pagamentos[" + i + "].IdPagamento")"/>
                                    <input type="hidden" value="@pagamento.ValorGasto" name="@("Pagamentos[" + i + "].ValorGasto")"/>
                                    <input type="hidden" value="@pagamento.ContratoId" name="@("Pagamentos[" + i + "].ContratoId")"/>
                                    <input type="hidden" value="@pagamento.ContratoId" name="@("Pagamentos[" + i + "].Contrato.ContratoId")"/>
                                    <label name="@(string.Format("Pagamentos[{0}].ContratoId", i))">@pagamento.Contrato.IdContrato</label>
                                </td>
                                <td>
                                    <input type="hidden" value="@pagamento.Contrato.ClienteId" name="@("Pagamentos[" + i + "].Contrato.ClienteId")" />
                                    <label>@pagamento.Contrato.NomeCliente</label>
                                </td>
                                <td>
                                    <input type="hidden" value="@pagamento.DataPagamento" name="@("Pagamentos[" + i + "].DataPagamento")" />
                                    <label>@pagamento.DataPagamento.ToString("y")</label>
                                </td>
                                <td>
                                    <input type="hidden" value="@pagamento.ValorGasto" name="@("Pagamentos[" + i + "].ValorGasto")" />
                                    <input type="hidden" value="@pagamento.ValorPago" name="@("Pagamentos[" + i + "].ValorPago")" />
                                    <label>@pagamento.ValorPago.ToString("N2")</label>
                                </td>
                                <td>
                                    <input type="hidden" value="@pagamento.Pago" name="@("Pagamentos[" + i + "].Pago")" />
                                    <input type="checkbox" id="@("Pagamentos[" + i + "].Pago")" value="@pagamento.Pago" @(pagamento.Pago ? "checked" : "") />
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="button" value=""><i class="fa fa-trash"> Excluir</i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

