@model B2BTecnology.Financeiro.Web.Models.PagametoViewModel

@{
    ViewBag.Title = "Pagamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section BeginBody
{
    <form id="clienteForm" role="form" action="/Pagamento/Salvar/" method="post">
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Pagamentos
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="/Home">B2B Tecnology</a>
            </li>
            <li class="active">
                <i class="fa fa-wrench fa-fw"></i> Pagamentos
            </li>
        </ol>
    </div>
</div>        

@Html.Partial("ErrorMessage")
@Html.Partial("Success")

<div class="row">
    <div class="col-lg-12 ">
        <div class="form-group col-md-5">
            <label class="control-label">Mês Pagamento: </label>
            @Html.DropDownList("Mes", (IEnumerable<SelectListItem>)ViewBag.Meses, new { @class = "form-control", @style = "background-color: #FFFFFF;" })
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">Cliente: </label>
            @Html.DropDownList("ClienteId", (IEnumerable<SelectListItem>)ViewBag.Clientes, new { @class = "form-control", @style = "background-color: #FFFFFF;" })
        </div>
    </div>
</div>

@Html.Partial("Partials/_Confirmacao")
<div id="detalhe">
    @Html.Partial("Partials/Detalhe", Model)
</div>

@section actions{
        
    <div class="actions">
        <a class="hidden-print" style="margin-left: 10px" target="_blank" title="Download"><i class="fa fa-download">Gerar PDF</i></a>
        <input type="submit" id="Salvar" value="Salvar" class="btn btn-default" />
    </div>
}

@section EndBody
{
</form>
}

@section scripts
{
    <script>

        $(function () {

            ManterManterValorGasto();
            ExcluirPagamento();
            HiddenCheckValue();
            $("#ClienteId, #Mes").on("change", function () {

                CarregarDetalhe();

                $(".actions a").attr("href", "/Pagamento/BaixarArquivo?data=" + $("#Mes :selected").val() + "&clienteId=" + $("#ClienteId :selected").val() + "&nome=" + $("#ClienteId :selected").text());

            });

            $("#deleteModal .modal-footer .btn-success").click(function () {

                geral.ModalConfirmarExluisao();

                AjusteNames();

            });


        });

        function CarregarDetalhe() {

            if ($("#ClienteId :selected").val() == 0) return;

            $.ajax({

                type: "GET",
                url: "/Pagamento/Detalhe",
                data: {

                    data: $("#Mes :selected").val(),
                    clienteId: $("#ClienteId :selected").val()

                }

            })
            .done(function (data) {

                $("#detalhe").empty();
                $("#detalhe").html(data);
                ClinckIncluir();
                geral.ConverterDecimal();
                CompararConsumoMinimo();
                ManterManterValorGasto();
                ExcluirPagamento();
                HiddenCheckValue();

            });
        }

        function HiddenCheckValue() {

            $("#tabelaPagamentos tbody tr td input[type='checkbox']").change(function () {

                var name = $(this).attr("id");

                $("input[name='" + name + "']").val($(this).is(":checked"));

            });
        }

        function ManterManterValorGasto() {

            $("#ManterValorGasto").change(function() {
                var manterValorGasto = $("#ManterValorGasto").is(":checked");

                if (manterValorGasto) {
                    $("#ValorPago").text(numeral($("#ValorGasto").val()).format('0,0.00'));
                } else {
                    $("#ValorPago").text(numeral($("#ValorConsumoMinimo").text()).format('0,0.00'));
                }
            });

        }

        function CompararConsumoMinimo() {

            $("#ValorGasto").keyup(function () {

                if (numeral($(this).val()) > numeral($("#ValorConsumoMinimo").text())) {
                    $("#ValorPago").text(numeral($(this).val()).format('0,0.00'));
                } else {
                    $("#ValorPago").text(numeral($("#ValorConsumoMinimo").text()).format('0,0.00'));
                }

            });

        }

        function ClinckIncluir() {

            $("#inserir").click(function () {

                IncluirPagamento();

            });

        }

        function IncluirPagamento() {

            var i = $("#tabelaPagamentos tbody tr").length;
            var checked = $("#Pago").is(":checked") ? "checked='checked'" : "";
            var linha = '<tr id="row-' + i + '">' +
                    '<td>' +
                        '<input type="hidden" value="0" name="Pagamentos[' + i + '].IdPagamento" />' +
                        '<input type="hidden" value="' + $("#ValorGasto").val() + '" name="Pagamentos[' + i + '].ValorGasto" />' +
                        '<label >0</label>' +
                    '</td>' +
                    '<td>' +
                        '<input type="hidden" value="' + $("#ClienteId :selected").val() + '" name="Pagamentos[' + i + '].Contrato.ClienteId" />' +
                        '<label>' + $("#ClienteId :selected").text() + '</label>' +
                    '</td>' +
                    '<td>' +
                        '<input type="hidden" value="' + $("#Mes").val() + '" name="Pagamentos[' + i + '].DataPagamento" />' +
                        '<label >' + $("#Mes :selected").text() + '</label>' +
                    '</td>' +
                    '<td>' +
                        '<input type="hidden" value="' + $("#ValorGasto").val() + '" name="Pagamentos[' + i + '].ValorGasto" />' +
                        '<input type="hidden" value="' + $("#ValorPago").text() + '" name="Pagamentos[' + i + '].ValorPago" />' +
                        '<label >' + $("#ValorPago").text() + '</label>' +
                    '</td>' +
                    '<td>' +
                        '<input type="hidden" value="' + $("#Pago").is(":checked") + '" name="Pagamentos[' + i + '].Pago" />' +
                        '<input type="checkbox" id="Pagamentos[' + i + '].Pago" ' + checked + ' value="' + $("#Pago").val() + '" />' +
                    '</td>' +
                    '<td><button class="btn btn-warning" type="button" value=""><i class="fa fa-trash"> Excluir</i></button></td>' +
                '</tr>';

            $("#tabelaPagamentos tbody").append(linha);
            ExcluirPagamento();

        }

        function ExcluirPagamento() {

            $("#tabelaPagamentos tbody button").click(function () {

                var id = $(this).closest('tr').attr('id');
                var nome = $($(this).closest('tr').find('td')[1]).text();

                geral.ModalExluir('Excluir - Pagamento', id, nome);

            });

        }

        function AjusteNames() {

            $("table tbody tr").each(function (index) {

                $(this).find('td input[type="hidden"]').each(function () {

                    var name = $(this).attr('name');
                    var propriedade = name.split('.')[1];
                    $(this).attr('name', 'Pagamentos[' + index + '].' + propriedade);

                });

            });

        }


    </script>
}
