@model B2BTecnology.Financeiro.DTO.ContatoDTO

<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">
            Contato
        </h4>
    </div>
</div>

@Html.Hidden("Contato.IdContato", Model.IdContato)

<div class="row">
    <div class="col-lg-12 ">
        <div class="form-group col-md-5">
            <label class="control-label">Nome: </label>
            <input class="form-control" id="Nome" name="Contato.Nome" type="text" value="@Model.Nome" />
        </div>
        <div class="form-group col-md-5">
            <label class="control-label">E-mail: </label>
            <div class="form-group input-group">
                <span class="input-group-addon">@@</span>
                <input class="form-control" id="Email" name="Contato.Email" type="text" value="@Model.Email" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 ">
        <div class="form-group col-md-5">
            <label class="control-label">Telefone: </label>
            <input class="form-control" id="Telefone" name="Contato.Telefone" type="text" value="@Model.Telefone" />
        </div>
        <div class="form-group col-md-5">
            <label class="control-label">Celular: </label>
            <input class="form-control" id="Celular" name="Contato.Celular" type="text" value="@Model.Celular" />
        </div>
    </div>
</div>
