@model IEnumerable<B2BTecnology.Financeiro.DTO.ClienteDTO>

@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Clientes
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="/Home">B2B Technology</a>
            </li>
            <li class="active">
                <i class="fa fa-dashboard fa-fw"></i> Clientes
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 ">
        <div class="form-group col-md-12">
            <div class="table-responsive">
                <table id="tabelaEquipamentos" class="table table-hover table-striped hand">
                    <thead>
                        <tr>
                            <th style="width: 15%">Código Cliente</th>
                            <th style="width: 30%">Nome Cliente</th>
                            <th style="width: 25%">CNPJ/CPF</th>
                            <th style="width: 30%">Nome Vendedor</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            var cliente = Model.ToList()[i];
                            <tr id="@cliente.Documento">
                                <td><label>@cliente.IdCliente</label></td>
                                <td><label>@cliente.Nome</label></td>
                                <td><label>@cliente.Documento</label></td>
                                <td><label>@(cliente.Contratos.Any() ? cliente.Contratos.First().NomeVendedor : "")</label></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    
    <script>

        $(function() {

            $("#tabelaEquipamentos tbody tr").dblclick(function() {
                
                geral.Redirect("/Cliente/Detalhe/" + $(this).attr("id"));

            });

        });

    </script>

}