@model B2BTecnology.Financeiro.DTO.ContratoDTO

<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">
            Informações Contratuais
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 ">
        <div class="form-group col-lg-5">
            <label class="control-label">Data Contrato: </label>
            <input class="form-control datepicker" id="DataContrato" name="Contrato.DataContrato" type="text" value="@Model.DataContrato" />
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">Dia Vencimento: </label>
            <br />
            <div class="radio-inline">
                <input type="radio" name="vencimento" value="5" /> 5
            </div>
            <div class="radio-inline">
                <input type="radio" name="vencimento" value="10" /> 10
            </div>
            <div class="radio-inline">
                <input type="radio" name="vencimento" value="15" /> 15
            </div>
            <input type="hidden" name="Contrato.DiaVencimento" value="@Model.DiaVencimento" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 ">
        <div class="form-group col-lg-5">
            <label class="control-label">Cadência Fixa: </label>
            <input class="form-control" id="CadenciaFixa" name="Contrato.CadenciaFixa" type="text" value="@Model.CadenciaFixa" />
        </div>
        <div class="form-group col-lg-5">
            <label class="control-label">Cadência Movel: </label>
            <input class="form-control" id="CadenciaMovel" name="Contrato.CadenciaMovel" type="text" value="@Model.CadenciaMovel" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 ">
        <div class="form-group col-lg-5">
            <label class="control-label">Consúmo Mínimo: </label>
            <input class="form-control" id="ValorConsumoMinimo" name="Contrato.ValorConsumoMinimo" type="text" value="@Model.ValorConsumoMinimo" />
        </div>
        <div class="form-group col-lg-5">
            <label class="control-label">Mensalidade: </label>
            <input class="form-control numeral" id="ValorMensalidade" name="Contrato.ValorMensalidade" type="text" value="@Model.ValorMensalidade" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 ">
        <div class="form-group col-md-8">
            <label class="control-label">Prazo Contratual: </label>
            <br />
            <div class="radio-inline">
                <input type="radio" name="prazocontratual" value="6" /> 6 Meses
            </div>
            <div class="radio-inline">
                <input type="radio" name="prazocontratual" value="12" /> 12 Meses
            </div>
            <div class="radio-inline">
                <input type="radio" name="prazocontratual" value="24" /> 24 Meses
            </div>
            <div class="radio-inline">
                <input type="radio" name="prazocontratual" value="I" /> Indetermindo
            </div>
            <input type="hidden" name="Contrato.PrazoContratual" value="@Model.PrazoContratual" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">
            Valor Tarifa:
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 ">
        <div class="form-group col-lg-1">
            <label class="control-label">Local: </label>
            <input class="form-control numeral" id="ValorTarifaLocal" name="Contrato.ValorTarifaLocal" type="text" value="@Model.ValorTarifaLocal" />
        </div>
        <div class="form-group col-lg-1">
            <label class="control-label">LDN: </label>
            <input class="form-control numeral" id="ValorTarifaLdn" name="Contrato.ValorTarifaLdn" type="text" value="@Model.ValorTarifaLdn" />
        </div>
        <div class="form-group col-lg-1">
            <label class="control-label">VC1: </label>
            <input class="form-control numeral" id="ValorTarifaVc1" name="Contrato.ValorTarifaVc1" type="text" value="@Model.ValorTarifaVc1" />
        </div>
        <div class="form-group col-lg-1">
            <label class="control-label">VC2: </label>
            <input class="form-control numeral" id="ValorTarifaVc2" name="Contrato.ValorTarifaVc2" type="text" value="@Model.ValorTarifaVc2" />
        </div>
        <div class="form-group col-lg-1">
            <label class="control-label">VC3: </label>
            <input class="form-control numeral" id="ValorTarifaVc3" name="Contrato.ValorTarifaVc3" type="text" value="@Model.ValorTarifaVc3" />
        </div>
    </div>
</div>